HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

src/main/resources/secrets.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore all .txt, .log, .exe, and .jar files
*.txt
*.log
*.exe
*.jar
logs/*
Dockerfile
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/encodings.xml
