<configuration>
    <property name="LOG_PATH" value="${CHAT_LOG_DIR}" />
    <property name="LOG_FILE_NAME" value="${CHAT_LOG_FILENAME}" />

    <!-- INFO File Appender -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${CHAT_LOG_FILENAME}.info</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${CHAT_LOG_FILENAME}.info.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <!-- Accept DEBUG and higher (INFO, WARN, ERROR) -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- DEBUG File Appender -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${CHAT_LOG_FILENAME}.debug</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${CHAT_LOG_FILENAME}.debug.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ERROR File Appender -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${CHAT_LOG_FILENAME}.error</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${CHAT_LOG_FILENAME}.error.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Custom loggers -->
    <logger name="com.michal.openai" level="DEBUG" />
    <logger name="org.springframework.boot" level="INFO" />
    <logger name="org.springframework.boot.context" level="INFO"/>
    <logger name="org.springframework.boot.SpringApplication" level="INFO"/>
    <logger name="org.springframework.boot.StartupInfoLogger" level="INFO"/>
    <logger name="org.springframework.boot.autoconfigure" level="INFO"/>
    <logger name="org.apache.catalina" level="INFO"/>
    <logger name="org.apache.coyote" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO"/>
    <logger name="org.hibernate.tool.hbm2ddl" level="INFO"/>
    <logger name="org.springframework.data.repository.config.RepositoryConfigurationDelegate" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <!-- Only this root logger -->
    <root level="ERROR">
        <!-- Custom loggers -->

        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO_FILE" />
        <appender-ref ref="DEBUG_FILE" />
    </root>
</configuration>
