<configuration>
    <property name="LOG_PATH" value="${LOG_PATH:-logs}" />

    <!-- INFO File Appender -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/chatgpt-integration.info</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/chatgpt-integration.info.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- DEBUG File Appender -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/chatgpt-integration.debug</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_PATH}/chatgpt-integration.debug.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %class{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Custom loggers -->
    <logger name="com.michal.openai" level="DEBUG" />

    <logger name="org.springframework.boot" level="ERROR" />
    <logger name="org.springframework.boot.context" level="ERROR"/>
    <logger name="org.springframework.boot.SpringApplication" level="ERROR"/>
    <logger name="org.springframework.boot.StartupInfoLogger" level="ERROR"/>
    <logger name="org.springframework.boot.autoconfigure" level="ERROR"/>
    
    <logger name="org.apache.catalina" level="ERROR"/>
    <logger name="org.apache.coyote" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="OFF"/>
    <logger name="org.hibernate.tool.hbm2ddl" level="ERROR"/>
    <logger name="org.springframework.data.repository.config.RepositoryConfigurationDelegate" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="ERROR"/>

    <!-- Only this root logger -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO_FILE" />
        <appender-ref ref="DEBUG_FILE" />
    </root>
</configuration>
